<section class="section description-section" id="description">
  <div class="description-bg-wrapper">
    <h2 class="section-title description-title">Game Description</h2>
    <div class="container description-container">
      <picture>
        <source
          srcset="./img/description/description-bubbles-desk.png"
          media="(min-width: 1440px)"
          width="159"
          height="173"
        />
        <source
          srcset="./img/description/description-bubbles-mob.png"
          width="60"
          height="65"
        />
        <img
          class="description-bubbles-img"
          src="./img/description/description-bubbles-mob.png"
          alt="Bubbles"
          width="60"
          height="65"
        />
      </picture>
      <div class="description-content-wrapper">
        <p class="description-text">
          LAGUNA! is a relaxing puzzle game where every match grows your
          tropical paradise. Merge pieces, uncover secrets, and design your
          ideal island escape.
        </p>
      </div>
    </div>
  </div>
</section>
