<section class="section gallery-section" id="gallery">
  <h2 class="section-title">Gallery</h2>
  <div class="gallery-section-wrapper">
    <div class="container gallery-container">
      <ul class="gallery-list">
        <li class="gallery-list-item">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img1-mob.png"
            alt="Screenshot of the game"
            width="336"
            height="597"
            loading="lazy"
          />
        </li>
        <li class="gallery-list-item">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img2-mob.png"
            alt="Screenshot of the game"
            width="336"
            height="597"
            loading="lazy"
          />
        </li>
        <li class="gallery-list-item">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img3-mob.png"
            alt="Screenshot of the game"
            width="336"
            height="597"
            loading="lazy"
          />
        </li>
        <li class="gallery-list-item">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img4-mob.png"
            alt="Screenshot of the game"
            width="336"
            height="597"
            loading="lazy"
          />
        </li>
        <li class="gallery-list-item">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img5-mob.png"
            alt="Screenshot of the game"
            width="336"
            height="597"
            loading="lazy"
          />
        </li>
      </ul>
      <ul class="gallery-list-desk">
        <li class="gallery-list-item-desk">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img1-desk.png"
            alt="Screenshot of the game"
            width="203"
            height="362"
            loading="lazy"
          />
        </li>
        <li class="gallery-list-item-desk">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img2-desk.png"
            alt="Screenshot of the game"
            width="203"
            height="362"
            loading="lazy"
          />
        </li>
        <li class="gallery-list-item-desk">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img3-desk.png"
            alt="Screenshot of the game"
            width="203"
            height="362"
            loading="lazy"
          />
        </li>
        <li class="gallery-list-item-desk">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img4-desk.png"
            alt="Screenshot of the game"
            width="203"
            height="362"
            loading="lazy"
          />
        </li>
        <li class="gallery-list-item-desk">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img5-desk.png"
            alt="Screenshot of the game"
            width="203"
            height="362"
            loading="lazy"
          />
        </li>
      </ul>
    </div>
    <button class="arrow-btn" id="galleryDownArrow" aria-label="Next slide">
      <svg class="arrow-icon" width="28" height="28">
        <use href="./img/sprite.svg#icon-arrow-down"></use>
      </svg>
    </button>
  </div>
</section>
