<section class="section hero-section" id="home">
  <div class="container hero-container">
    <h1 class="hero-title">Love, Lies, and Luxury… What Will You Choose?</h1>
    <p class="hero-text">
      Enter a glamorous world of romance, secrets, and decisions that will
      change your life forever.
    </p>
    <picture>
      <source
        srcset="./img/hero/hero-girl-desk.png"
        media="(min-width: 1440px)"
      />
      <source srcset="./img/hero/hero-girl-mob.png" />
      <img
        class="hero-girl-img"
        src="./img/hero/hero-girl-mob.png"
        alt="Girl"
      />
    </picture>
    <picture>
      <source
        srcset="./img/hero/hero-diver-desk.png"
        media="(min-width: 1440px)"
      />
      <source srcset="./img/hero/hero-diver-mob.png" />
      <img
        class="hero-diver-img"
        src="./img/hero/hero-diver-mob.png"
        alt="Diver"
      />
    </picture>
    <picture>
      <source
        srcset="./img/hero/hero-dog-desk.png"
        media="(min-width: 1440px)"
      />
      <source srcset="./img/hero/hero-dog-mob.png" />
      <img
        class="hero-dog-img"
        src="./img/hero/hero-dog-mob.png"
        alt="Dog and fish"
      />
    </picture>
  </div>
</section>
