<section class="section play-section" id="play">
  <h2 class="section-title">How to Play</h2>
  <div class="play-section-wrapper">
    <div class="container play-container">
      <ul class="play-list">
        <li class="play-list-item">
          <span class="play-item-number">1</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Merge Items</h3>
            <p class="play-item-text">
              Combine matching pieces to unlock new ones.
            </p>
          </div>
        </li>
        <li class="play-list-item">
          <span class="play-item-number">2</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Complete Goals</h3>
            <p class="play-item-text">
              Solve puzzles and watch your island evolve.
            </p>
          </div>
        </li>
        <li class="play-list-item">
          <span class="play-item-number">3</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Decorate Your World</h3>
            <p class="play-item-text">
              Place unique items and personalize your paradise.
            </p>
          </div>
        </li>
        <li class="play-list-item">
          <span class="play-item-number">4</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Unlock New Zones</h3>
            <p class="play-item-text">
              Discover hidden areas and tropical surprises.
            </p>
          </div>
        </li>
        <li class="play-list-item">
          <span class="play-item-number">5</span>
          <div class="play-item-text-wrapper">
            <h3 class="play-item-title">Relax & Enjoy</h3>
            <p class="play-item-text">No stress, just pure cozy puzzle joy.</p>
          </div>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="./img/play/play-girl-desk.png"
        media="(min-width: 1440px)"
        width="300"
        height="468"
      />
      <source srcset="./img/play/play-girl-mob.png" width="235" height="367" />
      <img
        class="play-girl-img"
        src="./img/play/play-girl-mob.png"
        alt="Girl"
        width="235"
        height="367"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="./img/play/play-bubbles-desk.png"
        media="(min-width: 1440px)"
        width="147"
        height="183"
      />
      <source srcset="./img/play/play-bubbles-mob.png" width="68" height="84" />
      <img
        class="play-bubbles-img"
        src="./img/play/play-bubbles-mob.png"
        alt="Bubbles"
        width="68"
        height="84"
        loading="lazy"
      />
    </picture>
  </div>
</section>
