<section class="section reviews-section" id="reviews">
  <div class="reviews-bg-wrapper">
    <h2 class="section-title reviews-title">User Reviews</h2>
    <div class="container reviews-container">
      <picture>
        <source
          srcset="./img/reviews/reviews-bubbles-desk.png"
          media="(min-width: 1440px)"
          width="159"
          height="185"
        />
        <source
          srcset="./img/reviews/reviews-bubbles-mob.png"
          width="59"
          height="68"
        />
        <img
          class="reviews-bubbles-img"
          src="./img/reviews/reviews-bubbles-mob.png"
          alt="Bubbles"
          width="59"
          height="68"
          loading="lazy"
        />
      </picture>
      <ul class="reviews-list">
        <li class="reviews-list-item">
          <p class="reviews-name">Sophie G.</p>
          <p class="reviews-text">
            “Truly relaxing and so beautiful. I love building my little island.”
          </p>
        </li>
        <li class="reviews-list-item reviews-middle-item">
          <p class="reviews-name">Daniel V.</p>
          <p class="reviews-text">
            “Perfect balance of challenge and chill. I play every evening!”
          </p>
        </li>
        <li class="reviews-list-item">
          <p class="reviews-name">Claire T.</p>
          <p class="reviews-text">
            “Feels like a vacation in my pocket. 10/10.”
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
